<h2>Edit Pool</h2>
<form (ngSubmit)="replace()" #ticketsForm="ngForm">
  <div>
    <label>Tickets:</label>
    <div>
      <textarea name="ticketsString" required [(ngModel)]="ticketsString"></textarea>
    </div>
  </div>
  <button type="submit" [disabled]="!ticketsForm.valid">Save</button>
</form>

<h2>Pool</h2>
<ul *ngFor="let ticket of tickets">
  <li>{{ticket.name}}</li>
</ul>
<div>
  Number of tickets to draw:
  <input type="number" value="{{amountToDraw}}" [value]="amountToDraw" name="amountToDraw" #amountToDrawInput>
</div>
<button [disabled]="tickets?.length == 0" (click)="draw(amountToDrawInput.value)">Draw</button>

<h2>Draw</h2>
<ul *ngFor="let ticket of ticketsDrawn">
  <li>{{ticket.name}}</li>
</ul>