<h2>Edit Pool</h2>
<form (ngSubmit)="replace()" #ticketsForm="ngForm">
  <div>
    <label>Tickets:</label>
    <div>
      <textarea name="ticketsString" required 
        [(ngModel)]="ticketsString"></textarea>
    </div>
  </div>
  <button type="submit"
    [disabled]="!ticketsForm.valid">Save</button>
</form>

<h2>Pool</h2>
<ul *ngFor="let ticket of tickets | async">
  <li>{{ticket.name}}</li>
</ul>
<button [disabled]="(tickets | async)?.length == 0"
  (click)="draw()">Draw</button>

<h2>Draw</h2>
<ul *ngFor="let ticket of ticketsDrawn | async">
  <li>{{ticket.name}}</li>
</ul>